// artigo completo
article {
	margin: 50px 0 100px;
	width: 100%;
	@include display(flex);
	@include flex-direction(column);
	@include align-items(center);
	position: relative;
	overflow-x: hidden;
	text-shadow: 1px 1px 1px transparentize(#fff,0.2);

	// estilo padrao para os filhos do Article. Alguns elementos sobrepoem esse estilo de forma individual logo abaixo.
	$margem: 1em;
	& > *{
		width: $largura-minima;
		margin-top: $margem;
		&:first-child{
			margin-top: 0;
		}	
	}

	a.eixo{
		display: block;
		font-weight: bold;
		font-size: 12px;
		text-transform: uppercase;
		// margin-left: 10px;
		margin-bottom: 1em;
		font-family: $fonte-padrao;
		&.e1 {color: $eixo1}
		&.e2 {color: $eixo2}
		&.e3 {color: $eixo3}
		&.e4 {color: $eixo4}
	}


	h1 {
		&[class^="eixo"]:before {
			display: block;
			font-weight: bold;
			font-size: 12px;
			text-transform: uppercase;
			// margin-left: 10px;
			margin-bottom: 1em;
			font-family: $fonte-padrao;
		}
		// &.eixo1:before {content: "\25CF \0020 Eixo 1: Produ\00E7\00E3o e Cria\00E7\00E3o Art\00EDstico-Visual (PCA)"; color: $eixo1}
		// &.eixo2:before {content: "\25CF \0020 Eixo 2: Fundamenta\00E7\00E3o Hist\00F3rica e Sociocultural em Artes Visuais (FHS)"; color: $eixo2}
		// &.eixo3:before {content: "\25CF \0020 Eixo 3: Fundamenta\00E7\00E3o S\00F3cio-hist\00F3rica e Pedag\00F3gica das Artes Visuais na Educa\00E7\00E3o (FSP)"; color: $eixo3}
		// &.eixo4:before {content: "\25CF \0020 Eixo 4: Pesquisa, Est\00E1gio e Pr\00E1tica Pedag\00F3gica em Artes Visuais (PEP)"; color: $eixo4}
		&.eixo1:before {content: "\25CF \0020 Eixo 1"; color: $eixo1}
		&.eixo2:before {content: "\25CF \0020 Eixo 2"; color: $eixo2}
		&.eixo3:before {content: "\25CF \0020 Eixo 3"; color: $eixo3}
		&.eixo4:before {content: "\25CF \0020 Eixo 4"; color: $eixo4}
	}
	
	// Estilo basico dos autores
	.autores{
		font-size: 0.9em;
		padding: 20px 26px;
		display: inline-block;
		background-color: lighten($padrao,60%);
		width: $largura-minima;
		// border: 1px solid black;
		text-align: left;
		margin-top: 2em;
		margin-bottom: 1em;
		p{
			margin: 0;
			margin-bottom: 1em;

		}
		h3{
			margin: 0;
			margin-bottom: 0.5em;
		}
	}

	h2.modulox{
		color: $eixo1;
		font-size: 2em;
	}


	// Estilo basico para os headings
	& > {
		h1,h2,h3,h4,h5,h6{
			margin-bottom: 0;
			line-height: 1.1;
			width: $largura-minima;
			font-family: $fonte-destaque;
		}
	}
	

	& > p{
		width: $largura-minima;
	}

	.catalografica {
		width: $largura-minima;
		font-size: 0.9em;
		border: 1px solid; 
		img {width: 100%; height: auto;}

		p {margin: 0 0 20px;}

		.titulo {position: relative; width: 100%; font-size: 1.1em; border-bottom: 1px solid; padding: 10px}

		.codigo {position: relative; 
			width: 8%; float: left; padding: 15px 15px 0 15px; font-size: 1.1em;
		}
		
		.dados {position: relative; width: 90%; float: right; text-align: left; padding: 15px 15px 0 15px;
			.cdu {text-align: right;}
		}
	}

	blockquote{
		width: $largura-minima;
		padding-left: 60px;
		font-size: 0.9em;
		& > *{
			margin: 0;
			margin-top: $margem;
			&:first-child{
				margin-top: 0;
			}
			width: 100%;
		}
	}


	.caixa {
		// background: transparent url('../img/bgportal.jpg') center center no-repeat fixed / cover;
		background-color: transparent;
		background-image: url('../img/bgportal.jpg');
		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		padding: 20px 26px;
		display: inline-block;
		width: $largura-minima;
		text-align: left;
		margin-top: 2em;
		margin-bottom: 1em;

		h2, h3, h4, h5 {margin-top: 0;}
		figure{
			width: 50%;
			&.maior{
				width: 100%;
			}
		}
	}

	// Estilo de tabelas
	
	table{
		font-size: 0.9em;
		text-align: left;
		width: auto;
		@include largura-maxima(max-width);
		min-width: $largura-minima;
		border-spacing: 0;
		border: 2px solid;
		border-right-width: 0;
		border-left-width: 0;
		th, td{
			margin: 0;
			border: 1px solid hsl(0,0,65%);
			border-top-width: 0;
			border-left-width: 0;
			// background-color: hsl(0,0, 97%);
			padding: 10px 20px;
			&:last-child{
				border-right-width: 0;
			}
		}


		caption{
			font-size: 1em;
			line-height: 1.2;
			color: gray;
		}
	}


	figure{
		width: 360px;
		@include transition(width 0.2s ease-out);
		height: auto;
		margin:42px 0;
		padding: 0;
		position: relative;


		&:after{
			content: '';
			position: absolute;
			right: 5px;
			top: 5px;
			width: 40px;
			height: 40px;
			background-image: url(../img/ico_expand.svg);
			background-size: contain;
			opacity: 0;
			@include transition(opacity 0.2s linear);
		}

		&:hover{
			cursor: pointer;	
			&:before{
				opacity: 1;
			}
			&:after{
				opacity: 1;
			}
		}

		&.maior{
			width: 720px;
			&:after{
				background-image: url(../img/ico_collapse.svg);
			}
		}

		& + *{
			margin-top: 3em;
		}
		@include display(flex);
		@include flex-direction(column);
		@include align-items(center);

		img{
			display: block;
			box-shadow: inset 0 0 10px rgba(0,0,0,0.4);
			min-height: 50px;
			width: 100%;
			height: auto;
		}

		figcaption{
			width: 100%;
			margin-top: 0.5em;
			text-align: left;
			display: block;
			font-size: 0.9em;
			line-height: 1.2;
			color: grey;
		}
	}



	span.numero-rodape{
	    font-size: 0.8em;
	    line-height: 1;
	    border-radius: 50%;
	    width: 20px;
	    height: 20px;
	    line-height: 20px;
	    margin: -1px 0 0 -2px;
	    display: inline-block;
	    vertical-align: top;
	    text-align: center;
	    background: lighten($padrao,60%);
	    cursor: pointer;
		&:before{
			content: attr(data-numero);
			font-weight: bold;
			display: inline;
		}
	}

	$largura-notas-rodape: 420px;

	div.nota-rodape{
		margin: 0;
		display: none;
		position: absolute;
		right: 0;
		@include transform(translateX(110%));
		@include transition(transform 0.4s ease-in-out);
		width: $largura-notas-rodape;
		font-size: 0.9em;
		text-align: justify;
		
		background-color: white;
		z-index: 3;

		&.db{
			@include display(flex);
		}
		&.visivel{
			z-index: 4;
			@include transform(translateX(2px));
		}

		.posrel{
			line-height: 1.4em;
			border: 1px solid $eixo1;
			border-right: 0;
			position: relative;
			width: 100%;
			height: 100%;
			padding: 14px 28px;
			@include display(flex);
			@include flex-direction(column);
			@include align-items(flex-end);

		}


		button.fechar{
			@include appearance(none);
			border: 0px solid transparent;
			background-color: transparent;
			padding: 0;
			margin: 0;
			width: 14px;
			height: 14px;
			background-image: url(../img/icone-fechar.svg);
			background-size: cover;

			&:focus{
				outline: 0px solid transparent;
			}
			&:hover{
				cursor: pointer;
			}
		}


		p.numero-equivalente{
			position: absolute;
			left: 0;
			top: 50%;
			@include transform(translate(-50%, -50%));
			line-height: 0;
			border-radius: 50%;
			width: 25px;
			height: 25px;
			margin: 0;
			display: inline-block;
			text-align: center;
			background-color: $eixo3;
			color: #fff;
			text-shadow: 1px 1px 1px darken($eixo3,12%);
			vertical-align: middle;
			@include display(flex);
			@include justify-content(center);
			@include align-items(center);
		}

		
		div.texto{
			margin-top: 0.5em;
			p{
				&:first-child{
					margin-top: 0;
				}
			}
		}
	}
}







