#topo {
	width: 100%;
	height: 135px;
	color: #fff;
	// background: transparent url('../img/bg.jpg') center center no-repeat / cover;
	background-image: url('../img/bg.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	&.capa{
		height: auto;
		padding: 30px 0;
		z-index: 10;
		position: relative;

		&:before{
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			display: block;
			background-color: transparentize(#290430, 0.15);
		}


		p{
			position: relative;
			margin: 0;
			font-size: 0.9em;
			text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);

			&.topo-capa, &.disclaimer{
				margin: 0 auto;
				width: $largura-minima;
				text-align: center;
				span{
					display: inline-block;
				}
			}

			 &.disclaimer{
			 	margin-top: 36px;
			 }
		}

		hr{
			position: relative;
			background-image: none;
			background-color: #fff;
			width: $largura-minima;
			margin: 30px auto;
			height: 1px;


		}
		.container{
			height: auto;
			width: $largura-minima;
			@include align-items(flex-start);
			a.marca{
				font-size: 25px;
				line-height: 1;
				text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.8);

				span{
					&.curso-nome{
						font-size: 60px;
					}
					&.modalidade{
						letter-spacing: 0.05em;
					}
					&.modulo{
						text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
					}
				}
			}

		}

		img.marcas{
			position: relative;
			display: block;
			width: $largura-minima;
			margin: 20px auto 0;
		}
	}


	.container {
		height: 135px;
		@include display(flex);
		@include justify-content(space-between);
		@include align-items(center);

		a.marca {
			display: inline-block;
			color: #fff;
			// font-weight: normal;
			font-size: 15px;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

			span {display: block;

				&.curso-nome {
					font-family: $fonte-marca;
					font-size: 36px;
					line-height: 1.5em;
					letter-spacing: 0.05em;
					font-weight: bold;
					text-transform: uppercase;
				}

				&.modalidade {
					font-size: 1.2em;
					font-family: $fonte-destaque;
					text-transform: uppercase;
					letter-spacing: 0.1em;
				}

				&.modulo {
					font-size: 0.9em;
					font-family: $fonte-volume;
					text-transform: uppercase;
					letter-spacing: 0.05em;
				}

			}		
		}

		a.sumario {
			text-align: center;
			padding: 10px;
			color: #fff;
		    width: 100px;
		    height: 80px;
		    display: block;
		    border: 2px solid;
		    text-transform: uppercase;
		    font-size: 14px;
		    font-weight: normal;
		    letter-spacing: 1px;

			.menu {
				margin: 6px 0 0px;
			    position: relative;
			    display: block;

				span {
					
				    display: block;
				    height: 10px;
				    line-height: 0;
				    font-size: 55px;
				}
			}
		}

		.marcaciar {
			display: inline-block;
			position: absolute;
			height: 30px;
			width: auto;
			top: 50%;
			right: 0;
			@include transform(translateY(-50%));
		}
	}
}