// CORES
$eixo1: #5B1980;
$eixo2: #E75A19;
$eixo3: #C70051;
$eixo4: #0090B6;
$padrao: #555;




///////////////// TAMANHOS
// Tamanhos do media queries
$query-notebook: 1200px;
$query-fullhd: 1600px;

// larguras minima e maxima
$largura-minima: 720px;
$largura-maxima-1: 1320px;
$largura-maxima-2: 1200px;
$largura-maxima-3: 960px;

// Mixin de largura maxima (por causa da responsividade)
@mixin largura-maxima($propriedade){

	#{$propriedade}: $largura-maxima-1;
	@media screen and (max-width: $query-fullhd){
		#{$propriedade}: $largura-maxima-2;
	}
	@media screen and (max-width: $query-notebook){
		#{$propriedade}: $largura-maxima-3;
	}
}




///////////////// MIXINS
%transicao {@include transition(all 0.5s ease-in-out);}

%fix {
    &:before, &:after { content: ""; display: table;}
    &:after {clear: both;}
}




///////////////// FONTES
// fontes 
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Jaldi:400,700');

$fonte-destaque: 'Jaldi',sans-serif;
$fonte-marca: 'Jaldi',sans-serif;
$fonte-volume: 'Jaldi',sans-serif;
$fonte-padrao: 'Roboto',sans-serif;





///////////////// GERAL
// container
.container {
	width: $largura-maxima-1;
	max-width: calc(100% - 80px);
	margin: 0 auto; 
	position: relative;
}


// titulos
h1 {font-size: 2.8em; font-weight: normal}
h2 {font-size: 1.8em}
h3 {font-size: 1.4em}
h4 {font-size: 1.28em}
h5 {font-size: 1.15em}
h6 {font-size: 1.05em}



// formatacoes
a, a:link, a:visited, a:active, a:focus {
	text-decoration:  none;
    color: darken($padrao,5%);
    @extend %transicao;

    article p & {
        box-shadow: inset 0 -4px 0 transparentize($padrao,0.8);
        word-break: break-all;

        &:hover {
            box-shadow: inset 0 -4px 0 transparentize($padrao,0.65);
        }
    }
}


// ocultar e esconder itens
.ocultar {
    visibility: hidden;
}


.esconder {
    display: none;
}


// linha horizontal
hr {
    width: 100%;
    height: 8px;
    // background: transparent url('../img/bg2.jpg') center center no-repeat / cover;
    background-image: url('../img/bg2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0; 
}


// paginacao
span.pagina {
    display: block;
    width: 100%;
    color: hsl(0, 0%, 70%);
    text-align: right;
    // border-top: 1px dotted hsl(0, 0%, 80%);
    font-size: 0.85em;
    margin: 15px 0 0;
    padding: 0 20px;
    position: relative;

    &:before {content: "P\00E1gina"; display: inline-block; margin-right: 8px;}

    &:after {
        content: "";
        width: 100%;
        height: 300px;
        top: -300px;
        left: 0;
        position: absolute;
        @include linear-gradient(to top, #f9f9f9, #fff);
        z-index: -1;
    }
}

article:first-of-type span.pagina:first-of-type:after {display: none;}