body.portal {
	background: transparent url('../img/bgportal.jpg') center center no-repeat fixed / cover;
	height: 100vh;
	overflow: hidden;
	@include display(flex);
	@include flex-direction(column);

	#topo{
		@include flex-shrink(0);
	}

	#rodape{
		@include flex-shrink(0);
		position: static;
		bottom: auto;
	}
	
	section {
		width: 100%;
		max-width: none;
		height: 100%;
		margin: 0;
		padding: 0;
    	background: transparentize(#fff,0.4);

		
	    @include display(flex);
	    @include flex-direction(row);
	    @include flex-wrap(nowrap);
	    @include justify-content(center);

	    $numero-de-modulos: 8;

	    &.modulo-ativo{
	    	.modulo{
	    		width: 7.5%;
	    		h2{
	    			opacity: 0.3;
	    		}
	    		&.ativo{
		    		@include  flex-shrink(0);
	    			width: 50%;
	    			&:not(:first-child){
		    			border-left: 1px solid $eixo1;    				
	    			}

	    			& + .modulo{
		    			border-left: 1px solid $eixo1;

	    			}

	    			&:before{
	    				content: none;
	    			}

	    			.box{
	    				padding: 0 50px;
	    			}

	    			h2{
	    				opacity: 1;
	    			}

	    			ul{
	    				display: block;
	    			}
	    		}
	    	}
	    } 

	    .modulo {
    		@include  flex-shrink(1);
	    	width: 12.5%;
	    	@include transition(all 0.5s ease-in-out);
	    	@include transition-property(width, border-left);
	    	height: 100%;
	    	margin: 0px; 
	    	padding: 40px 0px 100px;
	    	border-left: 1px solid hsl(0,0,70%);
	    	overflow-y: scroll;
	    	&:first-child{
	    		border-left: none
	    	}
	    	position: relative;
	    	font-size: 0.95em;

	    	&:before{
	    		z-index: 1;
	    		content: '';
	    		position: absolute;
	    		top: 0; right: 0;
	    		width: 50vw;
	    		height: 100%;
	    		background-position: right bottom;
	    		background-size: auto 100%;
	    		background-repeat: no-repeat;
	    		opacity: 0;
	    		@include transform(translateX(50px));
	    		@include transition(all 0.4s ease-in-out);
	    		@include transition-property(transform, opacity);
	    	}

	    	@for $i from 1 through 4 {
    			&:nth-child(4n-#{$i - 1}):before{
    				background-image: url(../img/ilustra#{$i}.png);
    			}
    		}	

	    	&:not(.ativo):hover{
	    		cursor: pointer;
	    		&:before{
	    			opacity: 1;
		    		@include transform(translateX(0px));
	    		}

	    		h2{
	    			opacity: 1;
	    		}
	    	}

	    	.box{
	    		z-index: 2;
	    		padding: 0 20px;
	    		@include transition(padding 0.5s ease-in-out);
	    	}

	    	h2 {
	    		display: inline-block;
	    		font-family: $fonte-destaque;
	    		margin: 0;
	    		font-size: 48px;
	    		line-height: 1;
	    		opacity: 1;
	    		@include transition(opacity 0.2s linear);
	    		span{
	    			display: block;
	    			font-weight: normal;
	    			font-size: 16px;
	    		}
	    	}

			ul {
				
				@include transition (display 0s linear 0.5s);
				display: none;
				list-style-type: none;
				margin: 25px 0 0 0;
				padding: 0;

				li {
					padding: 0 0 10px;

					&:before {
						background: $padrao;
						width: 6px;
						height: 6px;
						@include transform(rotate(45deg));
						margin-right: 6px;
						// border-radius: 6px;
						content: "";
						display: inline-block;
						vertical-align: middle;
					}

					a:hover {text-decoration: underline;}

					&.eixo1:before {background: $eixo1;}
					&.eixo2:before {background: $eixo2;}
					&.eixo3:before {background: $eixo3;}
					&.eixo4:before {background: $eixo4;}
				}

				ul {margin: 0 0 0 25px;}
			}

			&.desabilitado {
				background: transparentize(#fff,0.6);

				* {color: lighten($padrao,40%) !important;}
				
				&:after {
					width: 100%; height: 100%;
					position: absolute;
					content: "";
					top: 0;
					right: 0;
					cursor: not-allowed;
				}

				ul li:before {background: lighten($padrao,40%)}
			}
	    }

	    
	}
}