body.portal {
	// background: transparent url('../img/bgportal.jpg') center center no-repeat fixed / cover;
	background-image: url('../img/bgportal.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
	height: 100vh;
	overflow: hidden;
	@include display(flex);
	@include flex-direction(column);

	#topo{
		@include flex-shrink(0);
	}

	#rodape{
		@include flex-shrink(0);
		position: static;
		bottom: auto;
	}
	
	section {
		width: 100%;
		max-width: none;
		height: calc(100% - 185px);
		max-height: 100%;
		margin: 0;
		padding: 0;
		
	    @include display(flex);
	    @include flex-direction(row);
	    @include flex-wrap(nowrap);
	    @include justify-content(center);

	    .modulo {
	    	background: transparentize(#fff,0.4);
    		@include flex-grow(1);
	    	width: 7.5%;
	    	@include transition(all 0.5s ease-in-out);
	    	@include transition-property(width, border-left-width, background-position);
	    	height: 100%;
	    	margin: 0px; 
	    	padding: 40px 0px 100px;
	    	border-left: 1px solid hsl(0,0,70%);
	    	&:first-child{
	    		border-left: none
	    	}
	    	overflow-y: scroll;
	    	overflow-x: hidden;
	    	
	    	position: relative;
	    	font-size: 0.95em;

	    	&:before{
	    		content: '';
	    		position: absolute;
	    		top: 0; right: -50px;
	    		pointer-events: none;
	    		width: 50vw; height: 100%;
	    		background-position: bottom right;
		    	background-size: auto 100%;
		    	background-repeat: no-repeat;
		    	opacity: 0;
		    	@include transition(all 0.4s ease-in-out);
		    	@include transition-property(opacity, right);
	    	}

	    	@for $i from 1 through 4 {
    			&:nth-child(4n-#{$i - 1}):before{
    				background-image: url(../img/ilustra#{$i}.png);
    			}
    		}

	    	&:not(.desabilitado):hover{
	    		h2{
	    			opacity: 1;
	    		}
	    		&:before{
					opacity: 1;
			    	right: 0;
	    		}
	    		
	    	}

	    	&.desabilitado{

	    		&:before{
	    			content: none;
	    		}

	    		a.anchor-modulo{
	    			display: none;
	    		}
	    		h2{
	    			opacity: 0.3;
	    			&:after{
	    				display: block;
	    				font-weight: normal;
	    				content: 'Em breve';
	    				font-size: 0.33333em;
	    			}
	    		}

	    		ul{
	    			display: none;
	    		}
	    	}

	    	&:not(.desabilitado):target{
	    		&:before{
	    			content: none;
	    		}

	    		&:not(:first-child){
	    			border-left-width: 5px;    				
    			}

    			& + .modulo{
	    			border-left-width: 5px;
    			}

	    		width: 50%;

		    	a.anchor-modulo{
		    		display: none;
		    	}

	    		.box{
	    			padding: 0 50px;
	    		}

	    		div.itens{
		    		opacity: 1;
	    		}

	    		h2{
	    			opacity: 1;
	    		}

    			ul{
    				opacity: 1;
    			}

	    	}


	    	.box{
	    		z-index: 2;
	    		padding: 0 20px;
	    		@include transition(padding 0.5s ease-in-out);
	    		position: relative;
	    		min-height: 100%;
	    	}

	    	a.anchor-modulo{
	    		display: block;
	    		margin: 0;
	    		padding: 0;
	    		position: absolute;
	    		width: 100%;
	    		height: 100%;
	    		top: 0; left: 0;
	    		z-index: 3;
	    	}

	    	h2 {
	    		display: inline-block;
	    		font-family: $fonte-destaque;
	    		margin: 0;
	    		font-size: 48px;
	    		@media screen and (min-width: 1400px){
	    			font-size: 3vw;
	    		}
	    		line-height: 1;
	    		opacity: 1;
	    		@include transition(opacity 0.2s linear);
	    		span{
	    			display: block;
	    			font-weight: normal;
	    			font-size: 0.3333333em;
	    		}
	    	}

	    	div.itens{
	    		opacity: 0;
	    	}

			ul {
				opacity: 0;
				@include transition(opacity 0.2s linear 0.5s);
				list-style-type: none;
				margin: 25px 0 0 0;
				padding: 0;

				li {
					padding: 0 0 10px;

					&:before {
						background: $padrao;
						width: 6px;
						height: 6px;
						@include transform(rotate(45deg));
						margin-right: 6px;
						// border-radius: 6px;
						content: "";
						display: inline-block;
						vertical-align: middle;
					}

					a:hover {text-decoration: underline;}

					&.eixo1:before {background: $eixo1;}
					&.eixo2:before {background: $eixo2;}
					&.eixo3:before {background: $eixo3;}
					&.eixo4:before {background: $eixo4;}
				}

				ul {margin: 0 0 0 25px;}
			}

		
	    }

	    
	}
}