body.sobre-o-curso{
	// background: transparent url('../img/bgportal.jpg') center center no-repeat fixed / cover;
	background-image: url('../img/bgportal.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}