@charset "UTF-8";


@import 'normalize';
@import 'bourbon/bourbon';
@import 'padroes';
@import 'jquery.fancybox';

body { 
	position: relative; 
	font-family: $fonte-padrao;
	font-size: 16px;
	line-height: 1.618;
	color: hsl(0,0, 35%);
}

@import 'custom.fancybox';
@import 'cabecalho';
@import 'article';
@import 'rodape';
@import 'portal';
@import 'sumario-ficha';